---
Language: Cpp

UseTab: Never
IndentWidth: 2
PPIndentWidth: 2
LambdaBodyIndentation: Signature
IndentPPDirectives: BeforeHash
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2

AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never

IndentCaseBlocks: true
IndentCaseLabels: true
NamespaceIndentation: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: true
BinPackParameters: false
BinPackArguments: false
ExperimentalAutoDetectBinPacking: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: true
AlignConsecutiveDeclarations: None
AlignAfterOpenBracket: DontAlign
InsertNewlineAtEOF: true
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseInsensitive
ColumnLimit: 0
SpaceBeforeParens: ControlStatements
